@model DojoArtesMaciais.Models.TipoDeAssociacao

@{
    ViewBag.Title = "Detalhes do Tipo de Associação";
}

<h2>Details Tipo de Associação</h2>

<ul>
    <li>@Model.Id</li>
    <li>@Model.Mensalidade</li>
    <li>@Model.Nome</li>
    <li>@Model.Periodo</li>
</ul>