<!--
 * Autor: William Parlow Nichelatti
 * Email: william.nichelatti@catolicasc.org.br
 *
-->
@model DojoArtesMaciais.Models.TipoDeAssociacao

@{
    ViewBag.Title = "Detalhes do Tipo de Associação";
}

<h2>Details Tipo de Associação</h2>

<ul>
    <li>ID: @Model.Id</li>
    <li>Mensalidade: @Model.Mensalidade</li>
    <li>Nome: @Model.Nome</li>
    <li>Periodo: @Model.Periodo</li>
</ul>