@{
   ViewBag.Title = "Welcome to My Rental Agency";
}

<style>
    .container-fluid {
        margin: 0 !important;
        padding: 0 !important;
    }
</style>

<div class="image-apresentation">
    <h1>Locadora Malloc</h1>
</div>
