@model IEnumerable<RentalAgency.Models.Movie>
@{
   ViewBag.Title = "Movies";
}



@if (!Model.Any()) {

<section class="movie-container">

    <header class="movie-header">
        <h3 class="movie-list-title">
            <span>List of Movies</span>
            <a href=@Url.Action("New", "Movie") class="btn btn-danger pull-right">
                <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;New
            </a>
        </h3>
    </header>

    <p>Não temos filme cadastrado até o momento!</p>

</section>

}
else {

<section class="movie-container">

    <header class="movie-header">
        <h3 class="movie-list-title">
            <span>List of Movies</span>
            <a href=@Url.Action("New", "Movie") class="btn btn-danger pull-right">
                <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;New
            </a>
        </h3>
    </header>

    <main class="grid-movies">

        @foreach (var movie in Model) {
        <div class="movie-link-container">
            <div class="movie-link-wrapper">
                @if (true) {
                <div class="edit-movie btn btn-danger">
                    <a href=@Url.Action("Edit", "Movie", new { movie.Id })>
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="edit-movie btn btn-danger">
                    <a href=@Url.Action("Delete", "Movie", new { movie.Id })>
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </a>
                </div>

                }
                <div title="@movie.Name">
                    @Html.ActionLink(" ", "Details",
                          new { movie.Id },
                          new { @style = "background:url(" + movie.ImageUrl + ");", @class = "movie-flex" })
                    <div class="movie-name">
                        @movie.Name
                    </div>
                </div>
            </div>
        </div>
        }

    </main>


</section>

}