body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}




/* GENERIC */
a {
    text-decoration: none !important;
}

header.movie-header > .movie-list-title {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}




/*

    My Style Definitions

*/




/* Movie Container */
section.movie-container,
section.movie-details-container {
    margin: 20px 0;
}





/* Movie Details Container */
section.movie-details-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}





/* Delete Movie button */
.delete-btn {
    background: none;
    border: none;
    padding: 0
}






/* Movie List Grid System */
main.grid-movies {
    display: grid;
    grid-template-columns: repeat(5, 20%);
}





/* Page Header */
header.movie-header {
    width: 100%;
    border-left: solid 2ch #d9534f;
    margin: 4ch 0;
    padding: 2ch;
    box-shadow: 0 0px 20px rgba(0, 0, 0, 1);
}





/* Movie Box link */
a.movie-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    min-height: 260px;
    box-shadow: 0 2px 6px -2px rgba(0, 0, 0, .7);
    padding: 2ch 1.3ch;
    margin-bottom: 1%;
    color: #FFF;
    background-size: 100% 100% !important;
    transition: .3s ease-out;
}




/* Container Movie Link Box */
.movie-link-container {
    transition: .3s ease-out;
    padding: 3% 2%;
}




/* Movie Name Span */
.movie-link-container > div > div {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #FFF;
    background: #d9534f;
}




/* Edit link up of movie for administrator users */
.edit-movie {
    width: 50%;
    float: left;
    padding: 0;
}





/* Movie name container */
.movie-name {
    text-align: center !important;
    padding: 2px;
    cursor: default;
}





/* Movie Box link on Hover */
.movie-link-container:hover {
    transform: scale(1.04);
    transition: .3s ease-out;
}





/* Movie details Paragraph */
.movie-details-container p {
    width: 50%;
    height: 260px;
    background-size: 100% 100% !important;
}



/* Movies details grid */
.details-grid {
    display: grid;
    grid-template-columns: 20% 80%;
}




/*

    BOOTSTRAP SUBSCRIBING

*/

/* Navbar */
.navbar {
    background-color: #d9534f;
    transition: .3s ease-in-out;
}

.navbar ul li a::after {
    content: '';
    position: absolute;
    display: block;
    background-color: #111;
    transition: .3s ease-in-out;
    bottom: 0;
    left: 0;
    padding: 0;
    width: 100%;
}

.navbar ul li a:hover {
    background-color: #d9534f;
}

.navbar ul li a:hover::after {
    content: '';
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    padding: 2px;
    width: 100%;
    transition: .3s ease-in-out;
}

.navbar button .icon-bar {
    transition: .3s ease-in-out;
    background: #FFF;
}

.navbar button {
    transition: .3s ease-in-out;
    transform: rotateZ(0deg);
}

.navbar button.collapsed {
    transition: .3s ease-in-out;
    transform: rotateZ(180deg);
}


/* Body */
body {
    background-image: url("https://wallpaperscraft.com/image/dark_spots_texture_background_50355_1920x1080.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* 
    
    MEDIA QUERYES 

*/

@media all and (min-width: 1199px) {

    main.grid-movies {
        display: grid;
        grid-template-columns: repeat(6, 16.666%);
    }

}

@media all and (max-width: 991px) {

    main.grid-movies {
        display: grid;
        grid-template-columns: repeat(4, 25%);
    }

}

@media all and (max-width: 768px) {

    section.movie-container {
        flex-direction: column;
    }

    a.movie-flex {
        width: 100%;
    }

    a.movie-flex:hover {
        transform: scale(1);
    }

    .movie-details-container {
        flex-direction: column;
    }

    .movie-details-container p{
        width: 100%;
    }

    main.grid-movies {
        display: grid;
        grid-template-columns: repeat(2, 50%);
    }

}

@media all and (max-width: 480px) {

    main.grid-movies {
        display: grid;
        grid-template-columns: 100%;
    }

}