/*

    GENERAL DEFINITIONS

*/

body, html {
    width: 100%;
    height: 100%;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select {
    max-width: 280px;
}

textarea {
    max-width: 400px;
    max-height: 120px;
}




/* GENERIC */
a {
    text-decoration: none !important;
}

header.movie-header > .movie-list-title {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}




























/*

    My Style Definitions

*/




/* Movie Container */
section.movie-container,
section.movie-details-container {
    margin: 20px 3%;
}





/* Movie Details Container */
section.movie-details-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}





/* Delete Movie button */
.delete-btn {
    background: none;
    border: none;
    padding: 0
}






/* Movie List Grid System */
main.grid-movies {
    display: grid;
    grid-template-columns: repeat(8, 12.5%);
}





/* Page Header */
header.movie-header {
    width: 100%;
    border-left: solid 2ch #d9534f;
    margin: 4ch 0;
    padding: 2ch;
    box-shadow: 0 0px 20px rgba(0, 0, 0, 1);
}





/* Movie Box link */
a.movie-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    min-height: 200px;
    box-shadow: 0 2px 6px -2px rgba(0, 0, 0, .7);
    padding: 2ch 1.3ch;
    margin-bottom: 1%;
    color: #FFF;
    background-size: 100% 100% !important;
    transition: .3s ease-out;
}




/* Container Movie Link Box */
.movie-link-container {
    transition: .3s ease-out;
    padding: 3% 7%;
}




/* Movie Name Span */
.movie-link-container > div > div {
    font-weight: bold;
    color: #FFF;
    background: #d9534f;
}




/* Edit link up of movie for administrator users */
.edit-movie {
    width: 50%;
    float: left;
    padding: 0;
    margin: 0;
}





.edit-movie * {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}





/* Movie name container */
.movie-name {
    text-align: center;
    padding: 2px;
    cursor: default;
    background-color: #d9534f;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}





/* Movie Box link on Hover */
.movie-link-container:hover {
    transform: scale(1.04);
    transition: .3s ease-out;
}






/* Movies details grid */
.details-grid {
    width: 100%;
    display: grid;
    grid-template-columns: 15% 85%;
    box-shadow: 0 0 10px #000;
    margin-bottom: 5ch;
}

.details-image,
.details-description {
    padding: 6px;
    word-break: break-word;
}

.details-description > div,
.details-description > .movie-header {
    margin: 0 0 1ch 0;
}

.details-description div {
    max-height: 120px;
    overflow-y: auto;
}


/* Movie details image */
.details-image {
    width: 100%;
    height: 300px;
}





/* Image details defines */
div.image-details {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat !important;
    background-size: 100% 100% !important;
}





/* Footer page */
.footer {
    width: 100%;
    padding: 3ch 2ch;
    background-color: rgb(250, 250, 250);
    color: rgb(25, 25, 25);
}

.footer > address {
    margin: 0;
}

.footer-relative {
    position: relative;
    margin-top: 5%;
}

.footer-fixed {
    position: fixed;
    bottom: 0;
    left: 0;
    min-height: 40px;
}


.form-movie-image-container {
    max-height: calc(100vh - 150px);
    max-width: 100vw;
    overflow-x: hidden;
    position: relative;
}

.form-movie-image-container > .form-image-container {
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}

.form-image-container > div {
    background-repeat: no-repeat;
    background-clip: content-box;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
}


/* Form Validation */
.field-validation-error {
    color: red;
}

.input-validation-error {
    border: 2px solid red;
}












/*

    BOOTSTRAP SUBSCRIBING

*/

    /* Navbar */
    .navbar {
    background-color: #111;
    transition: .3s ease-in-out;
    box-shadow: 1px 0 10px#000 !important;
}

.navbar ul li a,
.navbar .navbar-brand {
    color: #CCC;
}

.navbar ul li a::after {
    content: '';
    position: absolute;
    display: block;
    background-color: #CCC;
    transition: .3s ease-in-out;
    bottom: 0;
    left: 0;
    padding: 0;
    width: 100%;
}

.navbar ul li a:hover {
    background-color: #111;
}

.navbar ul li a:hover::after {
    content: '';
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    padding: 2px;
    width: 100%;
    transition: .3s ease-in-out;
}

.navbar button .icon-bar {
    transition: .3s ease-in-out;
    background: #FFF;
}

.navbar button {
    transition: .3s ease-in-out;
    transform: rotateZ(0deg);
}

.navbar button.collapsed {
    transition: .3s ease-in-out;
    transform: rotateZ(180deg);
}


/* Body */
body {
    background-color: #1A1A1A;
}

























/* 
    
    HOME PAGE

*/

.image-apresentation {
    background-image: url(https://cdn-images-1.medium.com/max/1200/1*F0u0WB6EslNKYI5P4H9U1A.jpeg);
    min-height: 100vh;
    max-height: 100vh;
    width: 100%;
    position: relative;
    box-shadow: 10px 0 10px #000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    color: #FFF;
    font-family: monospace;
}

.image-apresentation h1 {
    z-index: 9999;
    border-bottom: 5vh solid;
    border-top: 5vh solid;
    border-radius: 100%;
    font-size: 8vw;
    padding: 15vh 0;
    text-shadow: 0 0 30px;
    transform: scale(1.3);
    transform-origin: center;
    animation: changecolor 3000ms ease-in-out infinite alternate;
    -webkit-user-select: none ;  
    -moz-user-select: none ;    
    -ms-user-select: none ;      
    user-select: none;
    cursor: default;
}

.image-apresentation::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
}








/*

    KEYFRAMES

*/

@keyframes changecolor {

    0% {
        border-color: aqua;
        text-shadow: 0 0 30px aqua;
    }

    50% {
        border-color: #ebff00;
        text-shadow: 0 0 30px #ebff00;
    }

    100% {
        border-color: rgb(236, 90, 21);
        text-shadow: 0 0 30px rgb(236, 90, 21);
    }

}










/* 
    
    MEDIA QUERYES 

*/

@media all and (max-width: 1199px) {

    main.grid-movies {
        grid-template-columns: repeat(7, 14.28571428571429%);
    }
}

@media all and (max-width: 1199px) {

    .details-grid {
        grid-template-columns: 20% 80%;
    }

}

@media all and (max-width: 991px) {

    main.grid-movies {
        grid-template-columns: repeat(5, 20%);
    }

    .details-grid {
        grid-template-columns: 25% 75%;
    }
}

@media all and (max-width: 768px) {

    section.movie-container {
        flex-direction: column;
    }

    a.movie-flex {
        width: 100%;
    }

    a.movie-flex:hover {
        transform: scale(1);
    }

    main.grid-movies {
        grid-template-columns: repeat(3, 33.33333333%);
    }

    .details-grid {
        display: grid;
        grid-template-columns: 30% 70%;
    }

    input, select, textarea {
        max-width: none;
    }
}

@media all and (max-width: 600px) {

    .details-grid {
        grid-template-columns: 100%;
    }

    .details-description div {
        max-height: none;
        overflow-y: none;
    }

}

@media all and (max-width: 480px) {

    main.grid-movies {
        grid-template-columns: repeat(2, 50%);
    }

    .movie-link-container {
        padding: 3% 1%;
    }

    section.movie-container,
    section.movie-details-container {
        margin: 20px 0;
    }

}



/* SCROLLBAR DEFINITIONS */

::-webkit-scrollbar {
    width: 2px;
    height: 2px;
}

::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-thumb {
    background: #e1e1e1;
    border: 0px none #ffffff;
    border-radius: 50px;
}

    ::-webkit-scrollbar-thumb:hover {
        background: #ffffff;
    }

    ::-webkit-scrollbar-thumb:active {
        background: #000000;
    }

::-webkit-scrollbar-track {
    background: #666666;
    border: 0px none #ffffff;
    border-radius: 50px;
}

    ::-webkit-scrollbar-track:hover {
        background: #666666;
    }

    ::-webkit-scrollbar-track:active {
        background: #333333;
    }

::-webkit-scrollbar-corner {
    background: transparent;
}