body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}




/* GENERIC */
a {
    text-decoration: none !important;
}

header.movie-header > .movie-list-title {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}




/*

    My Style Definitions

*/




/* Movie Container */
section.movie-container,
section.movie-details-container {
    margin: 20px 3%;
}





/* Movie Details Container */
section.movie-details-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}





/* Delete Movie button */
.delete-btn {
    background: none;
    border: none;
    padding: 0
}






/* Movie List Grid System */
main.grid-movies {
    display: grid;
    grid-template-columns: repeat(8, 12.5%);
}





/* Page Header */
header.movie-header {
    width: 100%;
    border-left: solid 2ch #d9534f;
    margin: 4ch 0;
    padding: 2ch;
    box-shadow: 0 0px 20px rgba(0, 0, 0, 1);
}





/* Movie Box link */
a.movie-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    min-height: 200px;
    box-shadow: 0 2px 6px -2px rgba(0, 0, 0, .7);
    padding: 2ch 1.3ch;
    margin-bottom: 1%;
    color: #FFF;
    background-size: 100% 100% !important;
    transition: .3s ease-out;
}




/* Container Movie Link Box */
.movie-link-container {
    transition: .3s ease-out;
    padding: 3% 7%;
}




/* Movie Name Span */
.movie-link-container > div > div {
    font-weight: bold;
    color: #FFF;
    background: #d9534f;
}




/* Edit link up of movie for administrator users */
.edit-movie {
    width: 50%;
    float: left;
    padding: 0;
    margin: 0;
}





.edit-movie * {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}





/* Movie name container */
.movie-name {
    text-align: center;
    padding: 2px;
    cursor: default;
    background-color: #d9534f;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}





/* Movie Box link on Hover */
.movie-link-container:hover {
    transform: scale(1.04);
    transition: .3s ease-out;
}






/* Movies details grid */
.details-grid {
    width: 100%;
    display: grid;
    grid-template-columns: 15% 85%;
    box-shadow: 0 0 10px #000;
    margin-bottom: 5ch;
}

.details-image {
    max-width: 180px;
}

.details-image,
.details-description {
    padding: 6px;
}

.details-description > div,
.details-description > .movie-header {
    margin: 0 0 1ch 0;
}


/* Movie details image */
.details-image {
    width: 100%;
    height: 300px;
}





/* Image details defines */
div.image-details {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat !important;
    background-size: 100% 100% !important;
}






/*

    BOOTSTRAP SUBSCRIBING

*/

/* Navbar */
.navbar {
    background-color: #111;
    transition: .3s ease-in-out;
    box-shadow: 1px 0 10px#000 !important;
}

.navbar ul li a,
.navbar .navbar-brand {
    color: #CCC;
}

.navbar ul li a::after {
    content: '';
    position: absolute;
    display: block;
    background-color: #CCC;
    transition: .3s ease-in-out;
    bottom: 0;
    left: 0;
    padding: 0;
    width: 100%;
}

.navbar ul li a:hover {
    background-color: #111;
}

.navbar ul li a:hover::after {
    content: '';
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    padding: 2px;
    width: 100%;
    transition: .3s ease-in-out;
}

.navbar button .icon-bar {
    transition: .3s ease-in-out;
    background: #FFF;
}

.navbar button {
    transition: .3s ease-in-out;
    transform: rotateZ(0deg);
}

.navbar button.collapsed {
    transition: .3s ease-in-out;
    transform: rotateZ(180deg);
}


/* Body */
body {
    background-color: #1A1A1A;
}

/* 
    
    MEDIA QUERYES 

*/

@media all and (max-width: 1199px) {

    main.grid-movies {
        grid-template-columns: repeat(7, 14.28571428571429%);
    }
}

@media all and (max-width: 1199px) {

    .details-grid {
        grid-template-columns: 20% 80%;
    }

}

@media all and (max-width: 991px) {

    main.grid-movies {
        grid-template-columns: repeat(5, 20%);
    }

    .details-grid {
        grid-template-columns: 25% 75%;
    }
}

@media all and (max-width: 768px) {

    section.movie-container {
        flex-direction: column;
    }

    a.movie-flex {
        width: 100%;
    }

    a.movie-flex:hover {
        transform: scale(1);
    }

    main.grid-movies {
        grid-template-columns: repeat(3, 33.33333333%);
    }

    .details-grid {
        display: grid;
        grid-template-columns: 30% 70%;
    }
}

@media all and (max-width: 600px) {

    .details-grid {
        grid-template-columns: 100%;
    }

    .details-image {
        max-width: none;
    }

}

@media all and (max-width: 480px) {

    main.grid-movies {
        grid-template-columns: repeat(2, 50%);
    }

    .movie-link-container {
        padding: 3% 1%;
    }

    section.movie-container,
    section.movie-details-container {
        margin: 20px 0;
    }

}
