<!--
 * Autor: William Parlow Nichelatti
 * Email: william.nichelatti@catolicasc.org.br
 *
-->
@model DojoArtesMaciais.Models.Faixa

@{
    ViewBag.Title = "Detalhes da Faixa";
}

<h2>Details Faixa</h2>

<ul>
    <li>ID: @Model.Id</li>
    <li>Nome: @Model.Nome</li>
    <li>Grau: @Model.Grau</li>
</ul>