@model RentalAgency.Models.Movie
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h1>DetailsPage</h1>
        <p>@Model.Name</p>
        <p>@Model.Id</p>
        <p>@Model.Genre</p>
        <p>@Model.Duration</p>
    </div>
</body>
</html>
