@model List<RentalAgency.Models.Movie>
<!DOCTYPE html>
<html>
<head>
    @{
      ViewBag.Title = "Movies";
    }
    <meta charset="utf-8" />
</head>
<body>
    <h2>@ViewBag.Title</h2>
    
    <dl>
        <dt>List of Movies</dt>
        @foreach (var movie in Model) {
            <dd>@Html.ActionLink(@movie.Name, "Details", new { movie.Id })</dd>
        }
    </dl>

</body>
</html>