body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

a {
    text-decoration: none !important;
}

section.movie-container,
section.movie-details-container {
    margin: 20px 0;
}

section.movie-container,
section.movie-details-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

header.movie-header {
    width: 100%;
    border-left: solid 2ch #d9534f;
    margin: 4ch 0;
    padding: 2ch;
    box-shadow: 0 0px 20px rgba(0, 0, 0, 1);
}

header.movie-header > h3 {
    margin: 0;
}


a.movie-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16%;
    height: auto;
    min-height: 260px;
    box-shadow: 0 2px 6px -2px rgba(0, 0, 0, .7);
    padding: 2ch 1.3ch;
    margin-bottom: 1%;
    color: #FFF;
    background-size: 100% 100% !important;
}

a.movie-flex:hover {
    transform: scale(1.04);
    opacity: 0.7;
}

.movie-details-container p {
    width: 50%;
    height: 260px;
    background-size: 100% 100% !important;
}



/*

    BOOTSTRAP SUBSCRIBING

*/

/* Navbar */
.navbar {
    background-color: #d9534f;
    transition: .3s ease-in-out;
}

.navbar ul li a::after {
    content: '';
    position: absolute;
    display: block;
    background-color: #111;
    transition: .3s ease-in-out;
    bottom: 0;
    left: 0;
    padding: 0;
    width: 100%;
}

.navbar ul li a:hover {
    background-color: #d9534f;
}

.navbar ul li a:hover::after {
    content: '';
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    padding: 2px;
    width: 100%;
    transition: .3s ease-in-out;
}

.icon-bar {
    background: #FFF;
}

.navbar button,
.navbar button .icon-bar {
    transition: .3s ease-in-out;
    opacity: 1;
}

.navbar button.collapsed,
.navbar button.collapsed .icon-bar {
    transition: .3s ease-in-out;
}

.navbar button.collapsed .icon-bar:first-child {
    transform: rotateZ(45deg);
    transform-origin: center;
}

.navbar button.collapsed .icon-bar:last-child {
    transform-origin: center;
    transform: rotateZ(-45deg);
}

.navbar button.collapsed .icon-bar:nth-child(2) {
    opacity: 0;
}


/* Body */
body {
    background-image: url("https://wallpaperscraft.com/image/dark_spots_texture_background_50355_1920x1080.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* 
    
    MEDIA QUERYES 

*/
@media all and (max-width: 991px) {
    a .movie-flex {
        width: 23%;
    }
}

@media all and (max-width: 768px) {

    section.movie-container {
        flex-direction: column;
    }

    a.movie-flex {
        width: 100%;
    }

    a.movie-flex:hover {
        transform: scale(1);
    }

    .movie-details-container {
        flex-direction: column;
    }

    .movie-details-container p{
        width: 100%;
    }

}