body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

a {
    text-decoration: none !important;
}

section.movie-container,
section.movie-details-container {
    margin: 20px 0;
}

section.movie-container,
section.movie-details-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

header.movie-header {
    width: 100%;
    border-left: solid 2ch #2196f3;
    margin: 4ch 0;
    padding: 2ch;
    box-shadow: 0 2px 5px -2px rgba(0, 0, 0, .7);
}

header.movie-header > h3 {
    margin: 0;
}


a.movie-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16%;
    height: auto;
    min-height: 260px;
    box-shadow: 0 2px 6px -2px rgba(0, 0, 0, .7);
    padding: 2ch 1.3ch;
    margin-bottom: 1%;
    color: #FFF;
    background-size: 100% 100% !important;
}

a.movie-flex:hover {
    transform: scale(1.04);
    opacity: 0.7;
}

.movie-details-container p {
    width: 50%;
    height: 260px;
    background-size: 100% 100% !important;
}

@media all and (max-width: 991px) {

    a.movie-flex {
        width: 23%;
    }
}

@media all and (max-width: 768px) {

    section.movie-container {
        flex-direction: column;
    }

    a.movie-flex {
        width: 100%;
    }

    a.movie-flex:hover {
        transform: scale(1);
    }

    .movie-details-container {
        flex-direction: column;
    }

    .movie-details-container p{
        width: 100%;
    }

}